/*---resets---*/
*{box-sizing:border-box}
h1,h3,p{margin:0;padding:0}
body{min-width:320px}
/*---headings---*/
h3{font:400 16px Montserrat;text-align:center;text-transform:uppercase;color:#bdbdbd}
h1{font:400 30px Montserrat;text-align:center;text-transform:uppercase;color:#212121}
/*---HEADER---*/
.header{position:fixed;z-index:100;top:0;width:100%;height:72px;background:#fff;box-shadow:0 1px 10px 1px rgba(0,0,0,.2)}
.logo{font:32px Montserrat;font-size:32px;display:inline-block;padding:16px 14px;white-space:nowrap;text-transform:uppercase;color:#212121}
.logo .rect{font-size:31px;line-height:38px;display:inline-block;width:40px;height:40px;text-align:center;border:2px solid #212121}
.menu{padding:0 7px;text-align:right}
.menu a{font:16px Montserrat;display:inline-block;padding:26px 9px;text-transform:uppercase;color:#616160}
/*---SLIDER---*/
.slider-wrap{font-size:0;position:relative;overflow:hidden;margin-top:72px;padding:0;white-space:nowrap}
.slide-left,.slide-right{font-size:26px;position:absolute;z-index:1;top:50%;width:30px;height:30px;cursor:pointer;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-align:center;color:#fff;border:2px solid #ff6e40}
.slide-left:hover,.slide-right:hover{background-color:#ff6e40}
.slide-left{left:30px}
.slide-right{right:30px}
.slide{display:inline-block;width:100%;height:500px;white-space:normal}
.slider{position:relative;width:100%}
.slide1{background:url(../images/slide1.png) 50% repeat-x}
.slide2{background:url(../images/slide2.png) 50% repeat-x}
.slide-content{position:absolute;top:49%;width:100%;padding:0 80px;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-align:center}
.slide-title{font:42px Montserrat;text-align:center;text-transform:uppercase;color:#fff}
.slide-text{font:400 26px OpenSans;max-width:763px;margin:auto;padding:15px 0;text-align:center;color:#fff}
.slide-button{font:400 18px Montserrat;display:inline-block;margin-top:20px;padding:12px 35px;cursor:pointer;text-transform:uppercase;color:#fff;color:#fff;border:2px solid #ff6e40}
.slide-button:hover{background-color:#ff6e40}
/*---ABOUT US---*/
.about{padding-top:98px;padding-bottom:100px;text-align:center}
.about-text p{font:400 16px OpenSans;margin-top:22px;color:#616161}
.about-button{font:400 14px Montserrat;display:inline-block;margin-top:30px;padding:14px 50px;cursor:pointer;text-transform:uppercase;color:#212121;border:2px solid #212121}
.about-button:hover{color:#fff;background-color:#212121}
.services{padding-top:98px;padding-bottom:60px;background-color:#f5f5f5}
.service-list{padding:32px 20px 0}
.service{padding-bottom:37px;padding-left:25px}
.service-icon-border{position:relative;display:inline-block;max-width:80px;height:80px;text-align:center;color:#ff6e40;border:3px solid #ff6e40;border-radius:5px}
.service-icon-border .vertical{position:absolute;z-index:1;top:-3px;left:50%;width:45px;height:80px;-webkit-transform:translateX(-50%);transform:translateX(-50%);background-color:#f5f5f5}
.service-icon-border .horizontal{position:absolute;z-index:2;top:50%;left:-3px;width:80px;height:45px;-webkit-transform:translateY(-50%);transform:translateY(-50%);background-color:#f5f5f5}
.service-icon{font-size:48px;line-height:78px;position:absolute;z-index:2;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#ff6e40}
.service-info{padding:0 0 0 20px}
.service-title{font:400 20px Montserrat;line-height:18px;text-transform:uppercase;color:#212121}
.service-text{font:400 16px / 20px OpenSans;line-height:20px;margin-top:5px}
/*---SUBSCRIBE NOW---*/
.subscribe{padding-top:40px;padding-bottom:33px;background-color:#424242}
.subscribe-title{font:400 22px Montserrat;text-transform:uppercase;color:#fff}
.subscribe-text{font:400 16px / 20px OpenSans;padding:5px 0;color:#bdbdbd}
.subscribe-btn-cnt{text-align:right}
.subscribe-button{font:400 14px Montserrat;display:inline-block;padding:14px 76px;cursor:pointer;text-align:center;text-transform:uppercase;color:#fff;border:2px solid #ff6e40}
.subscribe-button:hover{background-color:#ff6e40}
/*---GALLERY---*/
.gallery{padding-top:98px;padding-bottom:80px}
.gallery-items{padding-top:27px;padding-right:10px}
.gallery-item{margin-bottom:20px;padding-right:5px}
.gallery img{width:100%}
.gallery-wrap{position:relative}
.gallery-item-overlay{position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;text-align:center;opacity:0;background-color:rgba(117,117,117,.7)}
.gallery-item-overlay:hover{opacity:1}
.gallery-item-info{position:absolute;bottom:0;width:100%;height:26.32%;padding-top:21px;background-color:#f4f4f4}
.gallery-item-title{font:400 18px Montserrat;padding:5px;color:#ff6e40}
.gallery-item-category{font:400 16px / 20px OpenSans;color:#757575}
.gallery-item-button{font:30px FontAwesome;line-height:32px;position:absolute;top:29%;left:50%;width:60px;height:60px;margin-left:1px;padding:15px;cursor:pointer;-webkit-transform:translateX(-50%);transform:translateX(-50%);color:#fff;border-radius:50%;background-color:#ff6e40}
/*---CONTACT---*/
.contact{padding:40px 0 37px;background-color:#f5f5f5}
.contact-title{padding-top:4px}
.contact h1,.contact h3{text-align:left}
.contact-icon{font:400 30px FontAwesome;line-height:60px;display:inline-block;width:60px;height:60px;text-align:center;color:#fff;border-radius:50%;background-color:#ff6e40}
.contact-item{padding-left:11px}
.contact-text{font:400 16px / 20px OpenSans;line-height:45px;padding:9px 13px;color:#616161}
.address{line-height:20px}
/*---MAP---*/
.map{height:400px}
/*---FOOTER---*/
.footer{padding:22px 0;background-color:#f5f5f5}
.copyright{font:400 14px OpenSans;color:#757575}
.social{font:400 16px FontAwesome;padding-left:20px;text-align:center;color:#bdbdbd}
.social a{font:400 16px FontAwesome;color:#bdbdbd}
.social a:hover{text-decoration:none;color:#ff6e40}
.social a:focus{text-decoration:none;color:#757575}
.social-icon{padding:3px 8px}
.privacy-terms{padding-right:8px;text-align:right}
.privacy,.terms{font:400 14px OpenSans;line-height:14px;display:inline-block;padding:0 6px;color:#757575}
.privacy{padding-right:10px;border-right:2px solid #ff6e40}
.go2top{font:400 32px FontAwesome;line-height:32px;position:fixed;z-index:100;right:30px;bottom:84px;display:none;width:40px;height:40px;cursor:pointer;text-align:center;opacity:.7;color:#ff6e40;border:2px solid #ff6e40}
.go2top:hover{opacity:1;color:#fff;background-color:#ff6e40}
/*---MediaQueries---*/
@media (min-width: 1210px) {
.container{width:1210px}
}
@media (max-width: 1200px) {
.contact-text{padding:9px 25px}
}
@media (max-width: 992px) {
.contact-item{text-align:center}
.contact-text{padding:9px 25px}
}
@media (max-width: 768px) {
.logo,.menu,.subscribe-title,.subscribe-text,.subscribe-btn-cnt,.copyright,.privacy-terms{text-align:center}
.about,.services,.gallery{padding-top:30px}
.slide-content{padding:0 40px}
.slide-title{font-size:24px}
.slide-text{font-size:20px}
.slide-button{font-size:14px;padding:10px 15px}
.slide-left{left:5px}
.slide-right{right:5px}
.logo{padding:5px}
.menu a{font-size:12px;padding:4px 5px}
.gallery-item{padding:0 60px}
.gallery-item-info{padding:5px}
.gallery-item-title{font-size:16px;padding:0}
.contact{padding-top:20px}
.contact-item{text-align:center}
.contact-text{font-size:14px;line-height:18px}
.contact h1,.contact h3{padding-bottom:5px;text-align:center}
.privacy{padding-bottom:5px;border-right:none;border-bottom:1px solid #ff6e40}
.terms{padding-top:5px}
.go2top{right:10px;bottom:10px}
}